<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Facebook</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.dhruv.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Signup</display-name>
    <servlet-name>Signup</servlet-name>
    <servlet-class>com.dhruv.controller.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>com.dhruv.controller.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendRequest</display-name>
    <servlet-name>SendRequest</servlet-name>
    <servlet-class>com.dhruv.controller.SendRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendRequest</servlet-name>
    <url-pattern>/SendRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Accept</display-name>
    <servlet-name>Accept</servlet-name>
    <servlet-class>com.dhruv.controller.Accept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accept</servlet-name>
    <url-pattern>/Accept</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reject</display-name>
    <servlet-name>Reject</servlet-name>
    <servlet-class>com.dhruv.controller.Reject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reject</servlet-name>
    <url-pattern>/Reject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SavePost</display-name>
    <servlet-name>SavePost</servlet-name>
    <servlet-class>com.dhruv.controller.SavePost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SavePost</servlet-name>
    <url-pattern>/SavePost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProfile</display-name>
    <servlet-name>ViewProfile</servlet-name>
    <servlet-class>com.dhruv.controller.ViewProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProfile</servlet-name>
    <url-pattern>/ViewProfile</url-pattern>
  </servlet-mapping>
</web-app>